
/*
 * Package Notification Website
 * Designed & Developed by Morse
 *
 *Filename: style.css
*/

/* reset all styling */
head, title, body, header, nav, ul, li, a {
	padding: 0;
	margin: 0;
}


body {
	background-color: darkgrey;
}

h3, h1 {
	text-align: center;
	border: 2px solid black;
	background-color: lightgrey;
	padding: 1em;
}
/* Navigation Bar */
ul {
	width: 95%;
    list-style-type: none;
    margin: 2.5% 0 0 2.5%;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
    border: 2px solid black;
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}


li {
    float: left;
    border-right: 1px solid darkgrey;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkgrey;
}

.active {
    background-color: lightgrey;
}

table {
	margin: 2.5% 0 0 2.5%;
	width: 95%;
	background-color: darkgrey;
}

th {
	color: lightgrey;
	padding: 1% .5% .5% 1%;
}
td:hover {
	color: black;
	transform: scale(1.15);
}


td {
	color: lightgrey;
	padding: 1% 0% 0% 5%;
}

.container {
	display: block;
	margin: 2.5% 0 0 2.5%;
	width: 95%;
	background-color: darkgrey;
	border: 2px solid black;

}

.sections {
	width: 100px;
	color: black;
	background-color: lightgrey;
	border: 2px solid black;
	padding: 1% .5% .5% 1%;
}		
td {
	width: 25px
}


/* ************************* Form styling ******************* */
.resInfo {
	width: 70%;
	background-color: lightgrey;
	border: 2px solid black;
	margin-top:  2%;
	margin-left: 10%;
	padding: 1%;
}

button {
	float: right;
	width: 10%;
	padding: 2%;
	background-color: lightgrey;
	border: 2px solid black;
	color: black;
	margin-right: 10%;
	margin-top: 10%;
}
