
/*
 * Package Notification Website
 * Designed & Developed by Morse
 *
 *Filename: style.css
*/

/* reset all styling */
head, title, body, header, nav, ul, li, a {
	padding: 0;
	margin: 0;
}


body {
	background-color: darkgrey;
}

h3, h1 {
	text-align: center;
	border: 2px solid black;
	background-color: lightgrey;
	padding: 1em;
	width: 50%;
	margin-left: 25%;
}
/* Navigation Bar */
ul {
	width: 95%;
    list-style-type: none;
    margin: 2.5% 0 0 2.5%;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
    border: 2px solid black;
    position: -webkit-sticky; /* Safari */ 
	position: sticky;
	top: 0;
}


li {
    float: left;
    border-right: 1px solid darkgrey;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkgrey;
}

.active {
    background-color: lightgrey;
}

table {
	margin: 2.5% 0 0 2.5%;
	width: 95%;
	background-color: darkgrey;
}

th {

	color: lightgrey;
	padding: 1% .5% .5% 1%;
}
td:hover {

	color: black;
	transform: scale(1.15);
}


td {
	color: lightgrey;
	padding: 1% 0% 0% 5%;
} 

.container {
	display: block;
	height: 90%;
	margin: 2.5% 0 0 2.5%;
	width: 95%;
	background-color: darkgrey;
	border: 2px solid black;
	padding-bottom: 2%;
}
.containerA, .containerB, .containerC {
	display: flex;
	flex-direction: row;
	flex-grow: wrap;
	justify-content: space-around;
	margin: 2.5% 0 0 2.5%;
	width: 95%;
	background-color: darkgrey;
	border: 2px solid black;
}	

.sections {
	color: black;
	background-color: lightgrey;
	border: 2px solid black;
	padding: 1% .5% .5% 1%;
}		
caption {
	color: black;
	background-color: lightgrey;
	border: 2px solid black;
	padding: 1% .5% .5% 1%;
}		
td {
	width: 25px
}


/* ************************* Form styling ******************* */
.resInfo {
	width: 30%;
	background-color: lightgrey;
	border: 2px solid black;
	margin-top:  2%;
	margin-left: 35%;
	padding: 1%;
}

.submitBtn {
	width: 100px;
	height: 40px;
	background-color: lightgrey;
	border: 2px solid black;
	color: black;
	margin-left: 62.5%;
	margin-top: 2%;
}
 #overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: darkgray; */
	z-index: 99;
 }
 #popupDialog {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50, -50);
	background-color: white;
	padding: 20px;
	border: 1px solid black;
	z-index: 100;
 }
#concernId {
	margin-top: 2%;
	margin-left: 40%;
}
 /* OVERLAY  style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 99;" */

 /* popupDialog  style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid #ccc; z-index: 100;" */

   .zoomable-text {
    font-size: 16px; /* Initial font size */
    transition: font-size 0.3s ease; /* Smooth transition for font size change */
    cursor: pointer; /* Indicate it's clickable */
  }

  .zoomable-text.zoomed {
    font-size: 24px; /* Zoomed font size */
  }